#myTabs {	

	.nav-tabs > li > a {
		color:white;
		font-weight: bold;
	}
	.nav-tabs > li > a:hover {
		color:black;
  	font-weight: bold;
	  border-color: #5488E3;
	  border-radius: 2em;
	  background-color:rgba(255,255,255,0.5);
	  
  }
  .nav-tabs > li.active > a {
  	color:black;
  	font-weight: bold;
	  border-style: none;
	  border-radius: 0px;
		border-bottom-right-radius:.5em;
		border-bottom-left-radius:.5em;
  }
  .nav-tabs > li.active > a:hover {
  	color:black;
	  background-color:white;
	  border-radius: 0px;
	  border-bottom-right-radius:.5em;
		border-bottom-left-radius:.5em;
  }
  .nav-tabs {
  	border-bottom: none;
	  box-shadow: 0px 0px 5px #aaa;
  	padding-bottom: .25em;
  	background-color: #5488E3;
  }
}