<footer class="mdl-mega-footer">
  
  <div class="mdl-mega-footer__top-section">
    <input class="mdl-mega-footer__heading-checkbox" type="checkbox">
    <h1 class="mdl-mega-footer__heading">Social Media</h1>
    <ul class="mdl-mega-footer__link-list">
      <button class="mdl-mega-footer__social-btn"><i class="fa fa-facebook-square fa-lg footerSocial" aria-hidden="true"></i></button>
      <button class="mdl-mega-footer__social-btn"><i class="fa fa-instagram fa-lg footerSocial" aria-hidden="true"></i></button>
      <button class="mdl-mega-footer__social-btn"><i class="fa fa-linkedin-square fa-lg footerSocial" aria-hidden="true"></i></button>
    </ul>
  </div>
  
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox">
      <h1 class="mdl-mega-footer__heading">emergiMuv</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Located in Tampa, Fl serving in the<br/>
        state of Florida</a></li>
        <br/>
        <li><a>Opening Hours:</a></li>
        <li><a>M-F 8:30AM - 6:00PM</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox">
      <h1 class="mdl-mega-footer__heading">Contact Information</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="tel:813-401-2437" class="contactAdj">(813)401-2437</a></li>
        <li><a href="mailto:cearly@emergimuv.com" class="contactAdj">cearly@emergimuv.com</a></li>
        <li><a class="contactAdj">Tampa, Fl</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox">
      <h1 class="mdl-mega-footer__heading">Navigation</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#!/home">Home</a></li>
        <li><a href="#!/contact">Contact</a></li>
        <li><a href="#!/about">About</a></li>
      </ul>
    </div>    

  </div>
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">
      <img class="centerImageSm" src="public/gfx/emergiMuvLogo1.png" style="position: relative;top:-8px;">
    </div>
    <ul class="mdl-mega-footer__link-list">
      <li>Copyright© 2016 Emergimuv.. All Rights Reserved. Website provided by Media Reign LLC®</li>
    </ul>
  </div>

</footer>