<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand" ui-sref="appview">TendonMD</span>
      <li class="dropdown navbar-text pull-right nav-btn">
          <span class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger"></span></span>
          <ul class="dropdown-menu">
            <li ui-sref="about"><a>About</a></li>
            <li role="separator" class="divider"></li>
          </ul>
      </li>
    </div>
	</div>
</nav>