<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<span class="navbar-brand" ui-sref="appview">TendonMD</span>
    	<p class="dropdown navbar-text pull-right nav-btn">
    		{{title}}
    	</p>
   	</div>
	</div>
</nav>

<div id="leafView" ng-transclude></div>