<div style="background-color:red;" class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-shadow mdl-rounded" style="background-color:white;font-weight:bold;">
    <div style="text-align:center;"><h1 class="contactUsBanner">ABOUT US</h1></div>
    <div class="mdl-grid cdWidth">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet extraPad">
        <div class="centerImageSm"><img class="aboutProfile" src="public/gfx/profile1.jpg" width="100%"></div>
      </div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone extraPad">
        <h4 class="mdl-typography--display-1">Courtney Early</h4>
        <p class="mdl-typography--subhead2">
        Courtney Early is the founder of emergiMuv and has trained drivers ready to
        help you move all over the state of Florida. Having lived in various locations
        in Florida, he knows first hand how it can be trying to move without proper
        help. Prior to founding emergiMuv, Courtney worked as a ..... 
        </p>
      </div>
    </div>
    <ng-include src="'customs/tpls/contact-us.ng.html'"></ng-include>
  </div>
</div>