<div style="background-color:#5B9BD5;" class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-shadow mdl-rounded" style="font-weight:bold; background-color:white;">
    <div style="text-align:center;"><h1 class="contactUsBanner">FEEL FREE TO CONTACT US</h1></div>
    <ng-include src="'customs/tpls/contact-us.ng.html'"></ng-include>
    <!-- <div id="googleMap" style="width:100%;height:300px;">/div> -->
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  </div>
</div>