/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: #5B9BD5;
    line-height: 64px;
    font-weight:bold;
    /* padding: 0 24px; */
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
    color: #757575;
    font-weight:bold;
}
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.mdl-layout__header.is-casting-shadow {
  background-color: white;
  color:#5B9BD5;
}
.appLogo {
  background-image: url('public/gfx/emergiMuvLogo1.png');
  background-image-repeat: repeat-none;
  background-size:cover;
  width:200px;
  height:65px;
}
.homeAbout {
  border-radius: 100%;
  border-style: solid;
  border-width: 1.5em;
  border-color: white;
}
.aboutProfile{
  border-radius:.25em;
}
.cdWidth {
  max-width:1400px;
}

.extraPad {
  padding:2em;
}

body::after {
  content: "";
  background-image: url('public/gfx/family_move_mid.jpg');
  background-image-repeat: repeat-none;
  background-size:cover;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.material-icons {
  color:#5B9BD5;
}
.mdl-navigation__link {
  color:#5B9BD5;
}

.navLinkLabel{
  color:#5B9BD5;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color:#5B9BD5;
}
.centerImage {
    margin-left: auto;
    margin-right: auto;
    max-width:800px;
}
.centerImageSm {
    margin-left: auto;
    margin-right: auto;
    max-width:200px;
}
.mdl-rounded {
  border-radius: 3px;
}
.mdl-shadow {
  -webkit-box-shadow: 1px 1px 8px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 1px 8px -1px rgba(0,0,0,0.35);
  box-shadow: 1px 1px 8px -1px rgba(0,0,0,0.35);
  border-style:solid;
  border-weight:.15em;
  border-color: #EEE;
}
.mdl-center {
  text-align: center;
}
.noTop{
  margin-top:0px;
}
.phoneBanner {
  background-color:red;
  color:white;
}
.contactUsBanner{
  margin-top:1.5em;
  color:#5B9BD5;
  font-size: calc(18px + 3vw);
  margin-right:1em;
  margin-left:1em
}
#contactUsWidget{
  
}
.phoneAdj {
  position:relative;
  font-weight:bold;
  color:white;
  top:10px;
  text-decoration: none;
}
.contactAdj {
  position:relative;
  font-weight:bold;
  text-decoration: none;
}
.mdl-bold {
  font-weight:600;
}
.mdl-typography--headline, .mdl-typography--subhead, .mdl-typography--display-2 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: .04em;
}
.mdl-typography--display-1-1 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 30px;
  letter-spacing: .04em;
  margin: 16px 0 32px;
}
.mdl-typography--subhead2 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: .04em;
}
.footerSocial {
  color:#424242;
}
.mdl-textfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
}
.angular-google-map-container { height: 400px; margin:2em;}