<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
        <div class="centerImage"><img class="homeBanner bannerLogo" src="public/gfx/emergiMuvLogo1.png" width="100%"></div>
        <!-- <div class="centerImage"><img class="homeBanner" src="http://media.propertycasualty360.com/propertycasualty360/article/2016/03/30/moving-furniture-istock000085280885small.jpg" width="100%"></div> -->
  </div>
  <div class="mdl-cell mdl-cell--12-col noTop mdl-shadow mdl-rounded phoneBanner">
    <h4 class="mdl-typography--subhead mdl-center noTop">
      <a href="tel:813-401-2437" class="phoneAdj">
        <i class="fa fa-phone" aria-hidden="true"></i>
        CALL NOW: (813)401-2437
        <i class="fa fa-phone" aria-hidden="true"></i>
      </a>
    </h4>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-shadow mdl-rounded" style="background-color:#5B9BD5;color:white;font-weight:bold;">
    <div class="mdl-grid cdWidth">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--hide-phone mdl-cell--hide-tablet extraPad">
        <div class="centerImage"><img class="homeAbout" src="public/gfx/box_lift_xs.jpg" width="100%"></div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone extraPad">
        <h4 class="mdl-typography--display-1-1">About Us</h4>
        <p class="mdl-typography--subhead2">EmergiMuv is real time delivery service that is dedicated to being there
        for your moving needs at your request in the state of Florida. Whether you 
        are in a last minute situation, have no one to help you, or just want to deliver
        some goods we are here to help.
        </p>
        <!-- Raised button with ripple -->
        <a href="#!/about" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="color:white">
          READ MORE ...
        </a>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-shadow mdl-rounded" style="background-color:#DDD;font-weight:bold;">
    <ng-include src="'customs/tpls/contact-us.ng.html'"></ng-include>
  </div>
</div>